.habitacion-card {
    max-width: 100%;
}

.habitacion-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.habitacion-card {
    width: 100%;
    height: 90%;
    object-fit: cover;

}