# Ignorar el entorno virtual
.venv

# Ignorar archivos y directorios de control de versiones
.git
.gitignore

# Ignorar archivos y directorios innecesarios
__pycache__/

# Ignorar archivos compilados de Python
__pycache__
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración del entorno
.env
.DS_Store

# Ignorar nodos de módulos (si usas Node.js en tu proyecto)
node_modules

# Otros archivos y directorios innecesarios
.vscode
.idea
*.log

# Ignorar archivos de entorno virtual de pipenv
pipenv-*

# Ignorar archivos de configuración del IDE
*.iml